* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
h1,h2,h3,h4 {
  margin: 0;
}
section {
  position: relative;
}
#indroduction {
  height: 100vh;
  width: 100vw;
  background: #000;
  background-size: cover;
  background-position: center;
}
#indroduction img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.copy-scroll-container {
  color: #fff;
}
#noVelocity {
  height: auto;
  background: #191C1F;
}
#reliability {
  height: auto;
  background: #191C1F;
}
#integration {
  height: auto;
  background: #191C1F;
}
#ANP {
  height: auto;
  background: #191C1F;
}
.topic-cover {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 300px;
  padding-bottom: 150px;
}
.topic-cover-two-thirds {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
  padding-top: 200px;
  padding-bottom: 50px;
}
.cover-left-content h1 {
  color: #fff;
  font-size: 70px;
  margin-bottom: 20px;
  max-width: 80%;
}
.cover-left-content p {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
}

.cover-right-content h1 {
  color: #fff;
  font-size: 70px;
  margin-bottom: 20px;
  max-width: 80%;
}
.cover-right-content p {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
}

.hero-headline {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hero-headline h1 {
  color: #fff;
  font-size: 80px;
  padding-bottom: 400px;
}
.product-title {
  color: #fff;
  font-size: 40px;
}
.text-center {
text-align: center;
}
.copy-scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.4;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.copy1 {
  opacity: 0;
  position: relative;
  width: 55%;
}
.copy2 {
  opacity: 0;
  position: absolute;
}
.feature-overview-grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 30px;
}
.callout-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.image-icon-pitch {
  background-image: url(images/pitch@2x.png);
}
.image-icon-roll {
  background-image: url(images/roll@2x.png);
}
.image-icon-heading {
  background-image: url(images/heading@2x.png);
}
.image-icon-alt {
  background-image: url(images/alt@2x.png);
}
.image-icon-vspeed {
  background-image: url(images/vspeed@2x.png);
}
.image-icon-hspeed {
  background-image: url(images/hspeed@2x.png);
}
.feature-item h4 {
  font-size: 24px;
  font-weight: 400;
}
.heading-animation-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: auto;
  width: 80%;
  margin: 0 auto;
}
.animation-captions {
  position: absolute;
  width:500px;
  height: auto;
  left:10%;
  top: 150px;
  color: #fff;
  z-index: 2;
}
.animation-captions h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.animation-captions p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}
.heading-animation-copy {
}
.pitch-animation-copy {
  left: 0;
  top: 0;
  opacity: 0;
}
.roll-animation-copy {
  left: 0;
  top: 0;
  opacity: 0;
}
.heading-image-sequence-component {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
#headingAnimation {
  position: absolute;
}
#pitchAnimation {
  position: absolute;
  opacity: 0;
}
#rollAnimation {
  position: absolute;
  opacity: 0;
}
.heading-image-sequence-component img {
  width: 70%;
}
.gizmo-overlay {
  position: absolute;
  left: 200px;
}
.gizmo-overlay img {
  width: 70%;
}
.integration-examples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.integration-image-container {
  display: block;
  background-color: #000;
  height: 300px;
}
.fyx-chip {
  width: 100%;
  height: 100%;
  background-image: url('images/fyx-chip@2x.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
